.app {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}


.search {
  padding: 10px;
  font-size: 20px;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  width: 100%;
  margin: 50px 0px;
  /* border-spacing: none !important; */
  /* border-collapse: collapse !important; */
  border-collapse:separate;
  border-spacing:0 15px;
}

tr:first-child th:first-child { border-top-left-radius: 10px; }
tr:first-child th:first-child { border-bottom-left-radius: 10px; }
tr:first-child th:last-child { border-top-right-radius: 10px; }
tr:first-child th:last-child { border-bottom-right-radius: 10px; }

tr:last-child td:first-child { border-top-left-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

tr td:first-child { border-top-left-radius: 10px; }
tr td:first-child { border-bottom-left-radius: 10px; }
tr td:last-child { border-top-right-radius: 10px; }
tr td:last-child { border-bottom-right-radius: 10px; }


tr {
  height: 60px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);

}

th, td {
  width: 250px;
  /* text-align: center; */
  /* border:1px solid black; */
  padding: 5px;
  text-align: left;
  font-size: 20px;
  background: #fff;
  /* border-radius: 10px; */
}

td img {
  width: 36px;
}